# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AdvCountingGame$KeyTyped.class
/AdvCountingGame.class
/AdvCountingLesson$1.class
/AdvCountingLesson.class
/AdvLessonAlphabet$KeyTyped.class
/AdvLessonAlphabet.class
/BasicAnimalGame$ClickListener.class
/BasicAnimalGame$ContentPanel.class
/BasicAnimalGame.class
/BasicAnimalLesson$1.class
/BasicAnimalLesson.class
/BasicGameAlphabet$ClickListener.class
/BasicGameAlphabet.class
/BasicLessonAlphabet$1.class
/BasicLessonAlphabet.class
/ChooseLesson.class
/HomePage.class
/StudentInfo.class
/AdvCountingGame$1.class
/AdvCountingGame$2.class
/AdvCountingGame$3.class
/AdvCountingGame$4.class
/AdvCountingGame$5.class
/BasicGameAlphabet$1.class
/BasicGameAlphabet$2.class
/BasicGameAlphabet$3.class
/BasicGameAlphabet$4.class
/BasicGameAlphabet$5.class
/Welcome.class
/HomePage$1.class
/HomePage$2.class
/HomePage$3.class
/Welcome$1.class
/BasicLessonAlphabet$1$1.class
/BasicGameAlphabet$1$1.class
/BasicGameAlphabet$6.class
/BasicGameAlphabet$2$1.class
/BasicAnimalLesson$1$1.class
/BasicLessonNumber.class
/project.class
/BasicLessonNumber$1.class
/BasicAnimalGame$1.class
/BasicAnimalGame$2.class
/BasicAnimalGame$3.class
/BasicAnimalGame$4.class
/BasicAnimalGame$5.class
/BasicLessonNumber$1$1.class
/BasicNumberLesson.class
/BasicNumberLesson$MyKeyListener.class
/BasicNumberGame.class
/BasicNumberGame$MyKeyListener.class
/BasicNumberGameVer1$MyKeyListener.class
/BasicNumberGameVer1.class
/BasicNumberLesson$1.class
/CheckProgress.class
/BasicAnimalGame$1$1.class
/BasicAnimalGame$6.class
/AdvLessonAlphabet$1.class
/AdvGameAlphabet.class
/AdvGameAlphabet$1.class
/AdvLessonAlphabet$2$1.class
/AdvLessonAlphabet$2.class
/AdvCountingLesson$1$1.class
